<h1 (click)="logger(chartType)">log</h1>
<div class="char_component">
    <div style="border-bottom: 2px solid black;">
        Select chart type
         <select [(ngModel)]="chartType.value">
            <option [disabled]="type.value == null" *ngFor="let type of chartTypeDropdown" [value]="type.value">
                {{type.label}}
            </option>
        </select>
    </div>

    <app-simple-bar-chart *ngIf="chartType.value == chartTypeEnum.XY" (emitter)="createChart($event)"></app-simple-bar-chart>
    <app-legend-bar-chart *ngIf="chartType.value == chartTypeEnum.LEGEND" (emitter)="createChart($event)"></app-legend-bar-chart>
    
    <div id="chartdiv" style="width: 75%;">
    
    </div>
</div>
