<input type="text" [(ngModel)]="actualCat"><button (click)="addCategory()">ADD CAT</button>
<input type="text" [(ngModel)]="actualLeg"><button (click)="addLegendItem()">ADD LEGEND</button>
<button (click)="emit()">MAKE CHART</button>
<table>
    <thead>
    <tr>
        <th>Category</th>
        <th *ngFor="let item of legendItems">{{item}}</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>
                {{item.category}}
            </td>
            <td *ngFor="let val of item.vals">
                <input [(ngModel)]="val.value">
            </td>
        </tr>
    </tbody>
</table>